<%- include("header") -%>

<div class="row"> 
    <div class="col-md-1"> </div>
    <div class="col-md-10" style="text-align: center;">
        <h1> Food Waste at Berkeley Masjid </h1>
    </div>
    <div class="col-md-1"> </div>
</div>



<div class="row"> 
    <div class="col-md-1"> </div>
    <div class="col-md-10" style="text-align: center;">
        <p> Our Masjid is committed to serving the community during the holy month of Ramadan by providing free iftar every single night. However, despite our best efforts, we are seeing a lot of food going to waste every night. This is a serious issue that goes against the teachings of the Quran and Hadith. </p>
    </div>
    <div class="col-md-1"> </div>
</div>

<!-- <div class="row"> 
    <div class="col-md-1"> </div>
    <div class="col-md-10" style="text-align: center;">
        <p> Bruh </p>
    </div>
    <div class="col-md-1"> </div>
</div> -->


<div class="row"> 

    <div class="col-md-1">
        
    </div>

    <div class="col-md-10">
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <script>
        var xValues = ["4/8", "4/9", "4/10", "4/12", "4/13", "4/14", "4/15", "4/16", "4/17", "4/18", "4/19", "4/20"];
        var yValues = [0.36, 0.29, 0.26, 1, 1, 1, 1, 1, 1, 1, 1, 1];
    
        new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
            backgroundColor: "#b42424",
            data: yValues
            }]
        },
        options: {
            legend: {display: false},
            title: {
            display: true,
            text: "Compostable Waste Produced per night per person (lbs / person)"
            }
        }
        });
        </script>
    </div>
      <div class="col-md-1">
        
      </div>
</div>

<div class="row">
<%- include("footer") -%>
